body
{
background-image:url("baro2.jpg");
}
h1
{
	color: red;
text-align: center;
font-size: 36px;

}


.information 
{
 
 border-style:solid; 
 border-color:black;
 width:50%;
 margin-top: 10%;
 
 

}

td
{
 
	
}

.image1
{
border-width: none;
width: 20%;

}

.image2
{

width: 60%;
}

.tableau 
{
	text-align: center;
	margin-right: 15%;

	color:red;
margin-top: 10%;
}

.footer
{
    background-color: grey;
    margin-top: 20%;
    width: 100%;
    height: 25%;
    display: block;
   
    }
